@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/assets/fonts/Roboto.zip);
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

#check {
  display: none;
}

.icon {
  position: absolute;
  right: 5%;
  font-size: 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: none;
}

a {
  text-decoration: none;
}

section {
  padding: 70px 0;
}

.container {
  margin: 0 auto;
}

.bg-color {
  background-color: rgb(2, 2, 48);
}

.title {
  text-align: center;
  margin-bottom: 50px;
}
.title h2 {
  font-size: 34px;
  color: rgb(2, 2, 48);
  margin-top: 20px;
  padding-bottom: 10px;
}
.title p {
  font-size: 20px;
  color: rgb(6, 3, 3);
}

.icons {
  color: rgb(255, 255, 255);
  font-size: 23px;
}
.icons .fa-angle-left {
  border: 1px solid rgb(3, 167, 211);
  background-color: rgb(3, 167, 211);
  padding: 18px 18px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.icons .fa-angle-left:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(2, 2, 48);
  border: 1px solid rgb(255, 255, 255);
}
.icons .fa-angle-right {
  border: 1px solid rgb(3, 167, 211);
  background-color: rgb(3, 167, 211);
  padding: 18px 18px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.icons .fa-angle-right:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(2, 2, 48);
  border: 1px solid rgb(255, 255, 255);
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo h1 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding-left: 20px;
}
header ul {
  display: flex;
  list-style-type: none;
}
header ul li {
  margin: 0 25px;
}
header ul a {
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding-right: 10px;
  transition: all 0.4s ease-in-out;
}
header ul a:hover {
  color: rgb(3, 167, 211);
}

#main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .container .main h1 {
  font-size: 40px;
  padding-bottom: 25px;
  color: rgb(255, 255, 255);
}
#main .container .main p {
  font-size: 18px;
  padding-bottom: 50px;
  color: rgb(255, 255, 255);
}
#main .container .main .link .btn {
  border: 1px solid rgb(3, 167, 211);
  padding: 15px 60px;
  border-radius: 8px;
  background-color: rgb(3, 167, 211);
  color: rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
  margin-right: 10px;
}
#main .container .main .link .btn:hover {
  background-color: transparent;
  color: rgb(3, 167, 211);
}
#main .container .main .link .btn1 {
  border: 1px solid rgb(255, 70, 70);
  padding: 15px 60px;
  border-radius: 8px;
  background-color: rgb(255, 70, 70);
  color: rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
}
#main .container .main .link .btn1:hover {
  background-color: transparent;
  color: rgb(255, 70, 70);
}
#main .container .image img {
  width: 550px;
}
#main .icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: -70px;
}

#services .services {
  display: grid;
  gap: 40px;
}
#services .services .box {
  width: 320px;
  height: 300px;
  padding-top: 30px;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
#services .services .box:hover .box-img {
  background-color: rgb(255, 70, 70);
}
#services .services .box .box-img {
  width: 80px;
  height: 80px;
  margin-left: 120px;
  margin-bottom: 20px;
  border-radius: 40px;
  background-color: rgb(3, 167, 211);
}
#services .services .box .box-img img {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}
#services .services .box h2 {
  font-size: 22px;
  color: rgb(2, 2, 48);
  padding-bottom: 20px;
}
#services .services .box p {
  font-size: 17px;
  color: rgb(2, 2, 48);
  padding-bottom: 30px;
}
#services .services .box .btn {
  padding: 10px 15px;
  border: 1px solid rgb(3, 167, 211);
  border-radius: 7px;
  background-color: rgb(3, 167, 211);
  color: rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
}
#services .services .box .btn:hover {
  background-color: rgb(255, 70, 70);
  border: 1px solid rgb(255, 70, 70);
}

#about .about {
  display: grid;
  gap: 10px;
}
#about .about .card {
  width: 500px;
  padding-top: 100px;
}
#about .about .card h1 {
  font-size: 35px;
  color: rgb(255, 255, 255);
  padding-bottom: 25px;
}
#about .about .card p {
  font-size: 16px;
  font-style: italic;
  padding-bottom: 55px;
  color: rgb(255, 255, 255);
}
#about .about .card .btn {
  border: 1px solid rgb(3, 167, 211);
  padding: 15px 40px;
  border-radius: 8px;
  background-color: rgb(3, 167, 211);
  color: rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
}
#about .about .card .btn:hover {
  background-color: transparent;
  color: rgb(3, 167, 211);
}
#about .about .image {
  padding-top: 50px;
  padding-bottom: 30px;
}
#about .about .image img {
  width: 500px;
}
#about .about .text {
  width: 500px;
  padding-top: 100px;
}
#about .about .text h1 {
  font-size: 35px;
  color: rgb(255, 255, 255);
  padding-bottom: 25px;
}
#about .about .text p {
  font-size: 18px;
  font-style: italic;
  color: rgb(255, 255, 255);
  padding-bottom: 55px;
}
#about .about .text .btn {
  border: 1px solid rgb(255, 70, 70);
  padding: 15px 40px;
  border-radius: 8px;
  background-color: rgb(255, 70, 70);
  color: rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
}
#about .about .text .btn:hover {
  background-color: transparent;
  color: rgb(255, 70, 70);
}

#pricing .pricing {
  display: grid;
  gap: 60px;
}
#pricing .pricing .card-pricing {
  width: 330px;
  height: 340px;
  padding-top: 50px;
  border-radius: 25px;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 0.4s ease-in-out;
}
#pricing .pricing .card-pricing:hover {
  background-color: rgb(3, 167, 211);
  color: rgb(255, 255, 255);
}
#pricing .pricing .card-pricing:hover h1 {
  color: rgb(255, 255, 255);
}
#pricing .pricing .card-pricing:hover h3 {
  color: rgb(255, 255, 255);
}
#pricing .pricing .card-pricing:hover .btn {
  background-color: rgb(3, 167, 211);
}
#pricing .pricing .card-pricing h1 {
  font-size: 35px;
  padding-bottom: 25px;
  color: rgb(2, 2, 48);
}
#pricing .pricing .card-pricing h3 {
  font-size: 22px;
  color: rgb(3, 167, 211);
  font-weight: 500;
  padding-bottom: 25px;
}
#pricing .pricing .card-pricing ul {
  list-style-type: none;
  padding-bottom: 60px;
}
#pricing .pricing .card-pricing ul li {
  padding-bottom: 8px;
}
#pricing .pricing .card-pricing .btn {
  padding: 12px 24px;
  background-color: rgb(255, 70, 70);
  border-radius: 8px;
  color: rgb(255, 255, 255);
}

#info .info {
  border: 1px solid rgb(3, 167, 211);
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}
#info .info .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
#info .info .input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  margin: 20px 0;
  border: none;
  border-bottom: 2px solid rgb(3, 167, 211);
  outline: none;
}
#info .info .input-box input:focus ~ span, #info .info .input-box input:valid ~ span {
  color: rgb(2, 2, 48);
  font-size: 14px;
  transform: translateY(-25px);
}
#info .info .input-box span {
  position: absolute;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  margin: 20px 0;
  pointer-events: none;
  transition: 0.4s;
  color: rgb(3, 167, 211);
}
#info .info .input-box [type=submit] {
  width: 200px;
  background-color: rgb(3, 167, 211);
  color: rgb(255, 255, 255);
  border: none;
  padding: 20px;
  margin-left: 30%;
  font-size: 20px;
  cursor: pointer;
}

footer .footer {
  display: grid;
  gap: 15px;
  padding-top: 50px;
  padding-bottom: 30px;
}
footer .footer .address h2 {
  padding-bottom: 20px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
footer .footer .address h3 {
  padding: 10px 0;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
footer .footer .address h3 i {
  padding-right: 8px;
  transition: all 0.4s ease-in-out;
}
footer .footer .address h3 i:hover {
  color: rgb(3, 167, 211);
  cursor: pointer;
}
footer .footer .links {
  padding-left: 50px;
}
footer .footer .links h2 {
  padding-bottom: 20px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
footer .footer .links h3 {
  padding: 10px 0;
  font-size: 16px;
  color: rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
}
footer .footer .links h3:hover {
  color: rgb(3, 167, 211);
  cursor: pointer;
}
footer .footer .info {
  padding-left: 50px;
}
footer .footer .info h2 {
  padding-bottom: 30px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
footer .footer .info p {
  padding-bottom: 25px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: left;
}
footer .footer .info i {
  padding-top: 20px;
  padding-right: 20px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
}
footer .footer .info i:hover {
  color: rgb(3, 167, 211);
  cursor: pointer;
}
footer hr {
  background-color: rgb(255, 255, 255);
  height: 1px;
  width: 100%;
  border: 0;
  margin: 25px 0;
}
footer p {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .container {
    width: 90%;
  }
  a .fa-solid {
    display: none;
  }
  .icon {
    display: inline-flex;
  }
  .icon #close-icon {
    display: none;
  }
  #check:checked ~ .icon #menu-icon {
    display: none;
  }
  #check:checked ~ .icon #close-icon {
    display: block;
  }
  #check:checked ~ nav {
    height: 280px;
  }
  #check:checked ~ nav a {
    transform: translateY(0);
    transition-delay: calc(0.15s * var(--i));
  }
  header {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 20px 0;
  }
  header nav {
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgb(2, 2, 48);
    overflow: hidden;
    transition: 0.3s ease;
  }
  header nav a {
    display: block;
    font-size: 18px;
    margin: 18px;
    text-align: center;
    transform: translateY(-50%);
    transition: 0.3s ease;
  }
  header ul {
    flex-direction: column;
  }
  #main .container {
    flex-direction: column;
  }
  #main .container .main h1 {
    font-size: 30px;
    text-align: center;
  }
  #main .container .main p {
    font-size: 14px;
  }
  #main .container .main .link {
    text-align: center;
    padding-bottom: 70px;
  }
  #main .container .main .link .btn {
    padding: 10px 35px;
  }
  #main .container .main .link .btn1 {
    padding: 10px 35px;
  }
  #main .container .image {
    padding-bottom: 30px;
  }
  #main .container .image img {
    width: 100%;
  }
  #services {
    height: 0 auto;
  }
  #services .services {
    grid-template-columns: 1fr;
  }
  #services .services .box {
    width: 100%;
  }
  #services .services .box .box-img {
    margin-left: 135px;
  }
  #about .about {
    grid-template-columns: 1fr;
  }
  #about .about .card {
    width: 350px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  #about .about .card h1 {
    text-align: center;
  }
  #about .about .card p {
    text-align: left;
  }
  #about .about .image img {
    width: 350px;
  }
  #about .about .text {
    width: 350px;
    text-align: center;
    padding-top: 20px;
  }
  #about .about .text h1 {
    font-size: 30px;
  }
  #about .about .text p {
    font-size: 14px;
  }
  #pricing .pricing {
    grid-template-columns: 1fr;
    padding-bottom: 10px;
    height: 0 auto;
  }
  #pricing .pricing .card-pricing {
    width: 100%;
    padding-top: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  #info .info {
    width: 350px;
    height: auto;
  }
  #info .info .input-box [type=submit] {
    width: 100px;
    padding: 10px 5px;
    margin-left: 100px;
  }
  footer .footer {
    grid-template-columns: 1fr;
  }
  footer .footer .address {
    padding-bottom: 50px;
  }
  footer .footer .links {
    padding-left: 0;
    padding-bottom: 50px;
  }
  footer .footer .info {
    padding-left: 0;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 850px) {
  .container {
    width: 1250px;
  }
  header {
    flex-direction: row;
  }
  #main .container {
    flex-direction: row;
  }
  #services .services {
    grid-template-columns: repeat(3, 1fr);
  }
  #about .about {
    grid-template-columns: repeat(2, 1fr);
  }
  #pricing .pricing {
    grid-template-columns: repeat(3, 1fr);
  }
  footer .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=style.css.map */